@if (!isMobile) {
  <div class="translation-text">
    <label id="spoken-language-label">{{ 'translate.spoken-to-signed.text' | transloco }}</label>
    <app-desktop-textarea dir="auto" [textControl]="text" [maxLength]="maxTextLength" [lang]="spokenLanguage" />
    <div id="suggestions" *transloco="let t; read: 'translate.suggestions'">
      @if (detectedLanguage && detectedLanguage !== spokenLanguage) {
        <ion-icon name="sparkles" color="primary" />
        {{ t('translate-from') }}:
        <a (click)="setDetectedLanguage()">{{ 'languages.' + detectedLanguage | transloco }}</a>
      }
      @if (normalizedText$ | async; as normalizedText) {
        <ion-icon name="sparkles" color="primary" />
        {{ t('did-you-mean') }}:
        <a (click)="setText(normalizedText)">{{ normalizedText }}</a>
      }
    </div>
    <div class="actions-row">
      <app-speech-to-text [lang]="spokenLanguage" (changeText)="text.setValue($event)"></app-speech-to-text>
      <app-text-to-speech [lang]="spokenLanguage" [text]="text.value"></app-text-to-speech>
      <div id="char-count">{{ text.value.length | number }} / {{ maxTextLength | number }}</div>
    </div>
  </div>
}
@if (isMobile) {
  <ion-toolbar appKeyboardFlying>
    <!-- Show ion-textarea when Text mode is active -->
    <ion-textarea
      *ngIf="mode === 'text'"
      id="mobile"
      autoGrow
      rows="10"
      [placeholder]="'translate.spoken-to-signed.placeholder' | transloco"
      [attr.aria-label]="'translate.spoken-to-signed.text' | transloco"
      [formControl]="text"
      [attr.maxLength]="maxTextLength"
      [lang]="spokenLanguage"
      enterkeyhint="enter"
      dir="auto"
      aria-labelledby="spoken-language-label"
      autofocus
      [attr.data-gramm_editor]="false"
    ></ion-textarea>
  
    <!-- Show ion-buttons with speech-to-text when Voice mode is active -->
    <ion-buttons *ngIf="mode === 'voice'" class="micro-button-container">
      <app-speech-to-text 
        [lang]="spokenLanguage" 
        (changeText)="text.setValue($event);">
      </app-speech-to-text>
    </ion-buttons>
    
    <!-- Mode Toggle Buttons -->
    <ion-segment [value]="mode" (ionChange)="toggleMode($event)">
      <ion-segment-button value="text">
        <ion-label>Text</ion-label>
      </ion-segment-button>
      <ion-segment-button value="voice">
        <ion-label>Speech</ion-label>
      </ion-segment-button>
    </ion-segment>
  
  </ion-toolbar>
  
}
